<?xml version="1.0" encoding="UTF-8"?>
<controller-info>
    <controller-host>appdcontroller.ccx.carecentrix.com</controller-host>
    <controller-port>8090</controller-port>
    <controller-ssl-enabled>false</controller-ssl-enabled>
    <use-simple-hostname>false</use-simple-hostname>
    <application-name>{{app_name}}</application-name>
    <tier-name>{{tier_name}}</tier-name>
    <node-name>{{ansible_hostname}}</node-name>
    <agent-runtime-dir></agent-runtime-dir>
    <enable-orchestration>false</enable-orchestration>
    <credential-store-filename></credential-store-filename>
    <credential-store-password></credential-store-password>
    <account-name>customer1</account-name>
    <account-access-key>651222e4-bb68-480f-90df-d06bdb0e05a1</account-access-key>
    <force-agent-registration>false</force-agent-registration>

</controller-info>