<controller-info>
    <controller-host>qappdcontroller.ccx.carecentrix.com</controller-host>
    <controller-port>8181</controller-port>
    <controller-ssl-enabled>true</controller-ssl-enabled>
    <enable-orchestration>false</enable-orchestration>
    <unique-host-id>{{ ansible_hostname }}</unique-host-id>
    <account-access-key>461ee19e-bb57-4cb9-9ae1-8958bcae5392</account-access-key>
    <account-name>customer1</account-name>
    <sim-enabled>false</sim-enabled>
    <machine-path></machine-path>
</controller-info>
